.ui-dialog {
	border: 1px solid;
	border-color: #888 #222 #222 #888;
	background: #dfe;
	box-shadow: 4px 4px #888;
	border-radius: 5px;
}
.ui-widget-overlay {
	background: #888;
	opacity: 0.5;
}
.ui-dialog .ui-dialog-titlebar {
	background: #bed;
	border-radius: 5px;
}
.ui-button {
	border: 0px solid;
	background: #dfe;
	border-radius: 5px;
}
.ui-state-hover{
	background: #bed;
}
.ui-dialog-titlebar-close {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAb0lEQVQ4jb2V0Q0AIQhDGc3RHM3N9Ne7tIDYu36a9hkCotmmWZQhVWEQegt7QN+HbfTZRg/DzGfIFEE9nwtE0MhDS0aBzIWwISiYgVFgBsrkjswp7F+gtGRpU6RjIx9s+dPbzZFoyfL19cmCVX4BC043M7wIpLtQAAAAAElFTkSuQmCC");
}
.ui-dialog-titlebar-close.ui-state-hover {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAc0lEQVQ4jb2V0Q0AIQhDGc3RGM3N8NczBRqvdyT+mPIMKaDZFhHhN8dQ3MIg9C3sAT0vx/QY06NLznSGRB200pVABO00ackogXkQGoISGVgKZKCp04yTLOxfoLRkqSnStpE3tnz0dnHlZKXTr69PFqzyC1iVubC1pWr+XQAAAABJRU5ErkJggg==");
}